<!DOCTYPE html> 
<html>

<head>
    <meta charset="utf-8" />
    <title>FOSSCOMM 2011 - Now Happening</title>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.5.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.js"></script>
    <script type="text/javascript" src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        var socket = new io.Socket('localhost', { port: 3000 });
        socket.connect();
        socket.on('connect', function() {}) 
        socket.on('message', function(data) {
            var msg = JSON.parse(data);
            if (msg.event == 'add') {
                $('#sessions').append('<li id="' + msg.id + '">'
                    + '<h3>' + msg.data.speaker + '</h3>'
                    + '<p><strong>' + msg.data.title + '</strong></p>'
                    + '<p class="ui-li-aside"><strong>' + msg.data.location + '</strong></p>'
                    + '</li>');

                $("#sessions").listview("refresh");
            } else if (msg.event == 'delete') {
                $('li#' + msg.id).hide();
            };
        });
        socket.on('disconnect', function(){});
    });
    </script>
</head>
    
<body>
    <div data-role="page" data-theme="d" id="home">
        <div data-role="content">
    	    <ul id="sessions" data-role="listview" data-theme="c" data-dividertheme="b">
    			<li data-role="list-divider">Now Happening</li>
                <% for (var key in cursessions) { %>
                    <li id="<%= key %>">
                        <h3><%= JSON.parse(cursessions[key]).speaker %></h3>
                        <p><strong><%= JSON.parse(cursessions[key]).title %></strong></p>
                        <p class="ui-li-aside"><strong><%= JSON.parse(cursessions[key]).location %></strong></p>
                    </li>
                <% } %>
    		</ul>    	
    	</div>
    </div>
</body>

</html>