<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>FOSSCOMM 2011 - Now Happening</title>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.5.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.js"></script>
    <script type="text/javascript">
    var settings = {
        host: 'localhost',
        port: '8000'
    };
    $(document).ready(function() {
        $.getScript('http://' + settings.host + ':' + settings.port + '/socket.io/socket.io.js', function() {

            var socket = new io.Socket(settings.host, { port: settings.port });

            socket.connect();

            socket.on('message', function(data) {
                var message = JSON.parse(data);

                if (message.event == 'delete') {
                    $('li#' + message.id).remove();
                };

                if (message.event == 'add') {
                    $('#sessions').append('<li id="' + message.id + '">'
                        + '<h3>' + message.session.title + '</h3>'
                        + '<p><strong>' + message.session.speaker + '</strong></p>'
                        + '<p class="ui-li-aside"><strong>' + message.session.room + '</strong></p>'
                        + '</li>'
                    );
                    $('#sessions').listview('refresh');
                };
            });
        });
    });
    </script>
</head>

<body>
    <div data-role="page" data-theme="d" id="home">
        <div data-role="content">
    	    <ul id="sessions" data-role="listview" data-theme="c" data-dividertheme="b">
    			<li data-role="list-divider">Now Happening</li>
                {% for k, v in sessions.items() %}
                    <li id="{{ k }}">
                        <h3>{{ v.title }}</h3>
                        <p><strong>{{ v.speaker }}</strong></p>
                        <p class="ui-li-aside"><strong>{{ v.room }}</strong></p>
                    </li>
                {% endfor %}
            </ul>
    	</div>
    </div>
</body>
</html>